body {
  font-family: "Courier New", Courier, monospace;
}

.title {
  color: darkblue;
  text-align: center;
  font-size: 40px;
}

.recipeslist {
  text-align: center;
  list-style-type: none;
}

.recipeslist li {
  font-size: 30px;
  padding-top: 30px;
}
